<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/register}" th:object="${person}">
    <label for="username">Придумай имя пользователя</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Придумай пароль</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="username">Год рождения</label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <br/>
    <input type="submit" value="Регаться">

    <div th:if="${param.error}" style="color: red">
        WRONG!!! CATASTROPHIC!!! ALERT!!!
    </div>
</form>

</body>
</html>